@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg {
  background-image: url("../assets/bg-texture.png"),
    linear-gradient(170deg, #313131 0%, #000000 100%);
  background-repeat: repeat, no-repeat;
  background-blend-mode: normal;
  background-size: auto, 100vw 100vh;
  height: 100vh;
  width: 100vw;
  transform-origin: top left;
}

.fadeUp {
  animation-name: fade-in-Up;
  animation-duration: 400ms;
  animation-timing-function: ease-out;
}

@keyframes fade-in-Up {
  from {
    opacity: 0;
    transform: translateY(-10vh);
    filter: blur(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
    z-index: 0;
  }
}

.fadeIn {
  animation-name: fade-in;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
  }
}

@layer components {
  .stance {
    animation: move 2s infinite;
  }
}

@layer components {
  .blinking-cursor {
    animation: blink 0.85s infinite;
  }
}
