/* profile.css */
p {
  color: #bfbfbf;
  font-size: large;
  margin-bottom: 10%;
}

.profil-box-bg {
  background-color: #414141;
}

h1 {
  color: white;
  font-size: 24px;
  padding-bottom: 15px;
  padding-left: 10px;
}

h2 {
  color: white;
  font-size: large;
  padding-top: 20px;
}

h3 {
  color: #bfbfbf;
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 15px;
}

.container {
  width: 550px;
  height: 400px;
}

.friends-container {
  padding-left: 70px;
}

.user-avatar {
  margin-bottom: 30px;
}

button {
  width: 100%;
}
