@tailwind base;
@tailwind components;
@tailwind utilities;

.settings-container {
    display: flex;
    background-color: rgb(72, 69, 69);
    margin: 100px;
    padding-left: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(242, 6, 6, 0.1);
    overflow: hidden;
    
}

.nav-bar {
    width: 200px;
    padding: 20px;
    border-right: 3px solid black;
}

.nav-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.settings-content {
    margin: 30px;
}
